@import "/src/variables.css";

#cart-container {
  position: fixed;
  margin-inline: .5rem;
  z-index: 10;
  top: 5.5rem;
  left: 0;
  right: 0;
  transform: translateX(110%);
  transition: 150ms ease-in-out;
}
.cart-container-active {
  transform: translateX(0%) !important;
}

#cart-wrapper {
  background-color: var(--clr-neutral-white);
  margin-left: auto;
  min-height: 18rem;
  max-width: 30rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}
#cart-wrapper > hr {
  color: var(--clr-neutral-light-grayblue);
}

#cart-title {
  text-align: start;
  padding-block: 1.5rem;
  padding-inline: 2rem;
}

.cart-items-container {
  width: 85%;
  color: var(--clr-neutral-darkgrayblue);
  margin: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#cart-thumbnail {
  width: 15%;
  border-radius: .5rem;
}

.cart-item-details {
  font-weight: 400;
  text-align: start;
  margin-block: 2rem;
}
.cart-subtotal {
  font-weight: 700;
  color: var(--clr-neutral-black);
}

.checkout-btn {
  display: block;
  width: 100%;
  padding-block: 1rem;
  border-radius: .5rem;
  margin: 0 auto 2rem auto;
  background-color: var(--clr-primary-orange);
}