@import "/src/variables.css";

#cart-container {
  position: fixed;
  margin-inline: .5rem;
  z-index: 10;
  top: 5.5rem;
  left: 0;
  right: 0;
  transform: translateX(110%);
  transition: 150ms ease-in-out;
}
.cart-container-active {
  transform: translateX(0%) !important;
}

#cart-wrapper {
  background-color: var(--clr-neutral-white);
  margin-left: auto;
  max-width: 25rem;
  min-height: 17rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}
#cart-wrapper > hr {
  color: var(--clr-neutral-light-grayblue);
}

#cart-title {
  text-align: start;
  padding: 1.5rem;
}

#cart-empty {
  color: var(--clr-neutral-darkgrayblue);
  margin: auto;
}
