#nav-container {
  position: fixed;
  inset: 0;
  z-index: 20;
  transform: translateX(-100%);
  transition: 150ms ease-in-out;
  background-color: var(--clr-neutral-black-o);
}
.nav-container-active {
  transform: translateX(0%) !important;
}