@import "/src/variables.css";

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-inline);
  position: relative;
}

.header-left,
.header-right {
  display: inherit;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
}

#icon-cart,
#avatar {
  width: 20%;
}
