@import "/src/variables.css";

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-inline);
  position: relative;
}

.header-left,
.header-right {
  display: inherit;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
}

#icon-cart,
#avatar {
  width: 20%;
}

@media (width >= 700px) {
  .header-left,
  .header-right {
    align-items: center;
  }

  #avatar {
    width: 30%;
  }

  #header-bar {
    position: absolute;
    height: 1px;
    border: none;
    background-color: var(--clr-neutral-grayblue);
    bottom: 0;
    left: 0;
    right: 0;
  }
}