@import "/src/variables.css";

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid limegreen !important; */
  padding: var(--padding-inline);
}

.header-left,
.header-right {
  display: inherit;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
  /* border: 1px solid red !important; */
}

#icon-cart,
#avatar {
  width: 20%;
  
}