@import "/src/variables.css";

#gallery-main-img {
  border-radius: .75rem;
}

.gallery-thumbnails {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.gallery-element {
  border-radius: .75rem;
  overflow: hidden;
}
.gallery-element > img {
  display: block;
}

.selected {
  border: 3px solid var(--clr-primary-orange);
  position: relative;
}
.selected::after {
  content: "";
  position: absolute;
  z-index: 5;
  inset: 0;
  background-color: var(--clr-neutral-white-o);
}